<h1>Editing proj user</h1>

<%= render "form", proj_user: @proj_user %>

<br>

<div>
  <%= link_to "Show this proj user", @proj_user %> |
  <%= link_to "Back to proj users", proj_users_path %>
</div>
